@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --green-500: #58cc02;
  --green-600: #4aab00;
  --red-500: #ff4b4b;
  --red-600: #e03e3e;
  --blue-500: #1cb0f6;
  --blue-600: #0a95d9;
  --yellow-500: #ffc800;
  --yellow-600: #e6b400;
  --purple-500: #ce82ff;
  --orange-500: #ff9600;
}
